<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="bookName">Edit book name: </label>
    <input type="text" th:field="*{bookName}" id="bookName"/>
    <div style="color:red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Error book name</div>
    <br/>
    <label for="author">Edit author: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error author name</div>
    <br/>
    <label for="year">Edit year: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Error year</div>
        <br/>
        <input type="submit" value="Update">
</form>
</body>
</html>